[Desktop Entry]
Type=Application
Name=ayab
Exec=ayab
Comment=All Yarns Are Beautiful
Icon=ayab
Categories=Graphics;
Terminal=false
X-AppImage-Version=v0.95-104-gc97f0b6

