
# Python
*.pyc
docs/_build/
venv/
ayab.egg-info
dist
# File is changed by CI
package_version
# Makefile directories
.lib/
.dep/
# Binaries
*.o
*.hex
# Obsolete Directories
documents/
patterns/
ayab_log.txt
