-e git+https://github.com/t0mpr1c3/fbs.git@fbe63505acdf5475e914930ea9de958384a5128c#egg=fbs
PyInstaller==3.4
pyqt5==5.9.2
Pillow==7.1.2
pyserial==3.4
sliplib==0.4.0
pytest==5.4.1
mock==3.0.5
bitarray-hardbyte==1.1.0
simpleaudio==1.0.4
wave==0.0.2
numpy
requests
pre-commit
